node_modules/
www/
android/.gradle/
android/build/
android/app/build/
android/capacitor-cordova-android-plugins/build/
android/local.properties
android/.idea/
ios/App/Pods/
ios/App/build/
ios/DerivedData/
*.keystore.pass
.DS_Store
